{% extends 'layout.html.twig' %}

{% block sidebar %}
    {{ render(controller('ContentSidebarBundle:Default:index')) }}
{% endblock %}

{% block content %}
    <section class="content">
        <h2>Perfil de usuario</h2>
        <article>
            <div class="nombre"><h3>{{ nombre }}</h3></div>
            <div class="foto"><img src="{{ asset('public/img/'~fotoPerfil) }}" /></div>
            <div class="perfil">{{ perfil }}</div>
            {% for tipo,value in tipoMascota %}
                <div class="tipo">{{ tipo|title }}: {{ value }}</div>
            {% endfor %}
            
        </article>
{% endblock %}